/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');


/* COLORS */

:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);

    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);

    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif;
    list-style: none;
}

html, body {
    font-size: 62.5%;
    background-color: var(--rose-100);
    padding: 1rem;
}

h1 {
    font-size: 3.2rem;
    font-weight: 800;
    color: var(--rose-900);
}

h2, h3, h4, h5, h6 {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--rose-900);
}

p {
    font-size: 1.4rem;
    color: var(--rose-500);
}


.fade-enter-active,
.fade-leave-active {
  transition: all 0.25s ease;
}

.fade-enter-from {
  opacity: 0;
  transform: scale(.95);
}

.fade-leave-to {
  opacity: 0;
  transform: scale(.95);
}